@charset "UTF-8";
/*
description: Sass 的表达式和控制命令
*/
/*插值语句  可以在选择器或者属性中使用变量*/
/*可以通过！default来申明默认值、导入过程中如果声明了、就会被覆盖，用于一些属性的订制*/
p.foo {
  border-color: blue; }

/*at-root 的使用
可以跳出选择器
at-root 与 & 的使用
应用于@keyframe

*/
p {
  color: #0000ff; }
  p span {
    color: #ffffff; }
    .test {
      background: #ff0000; }

.parent .child {
  color: #ff0000; }

.demo {
  animotion: motion 3s infinite; }

@keyframes motion {}/*if() 是sass的一个内置函数*/
.firstClass {
  color: #0000ff; }

.secondClass {
  color: #0000ff; }

/*@if 返回语句*/
.txt1 {
  color: #ffffff;
  font-weight: bold; }

.txt2 {
  color: #ffffff; }

.txt3 {
  color: #ffffff;
  font-weight: bold; }

.txt4 {
  color: #ffffff;
  font-weight: 100; }

.txt5 {
  color: #ffffff;
  font-weight: 500; }

.txt6 {
  color: #ffffff;
  font-weight: normal; }

/*for 用于循环输出 有两种  一种是 from start through end   另一种是  from  start to end*/
.col-1 {
  width: 25%; }

.col-2 {
  width: 50%; }

.col-3 {
  width: 75%; }

.col-4 {
  width: 100%; }
