@import "public/reset";
@import "public/public";

.wrap{
  display: block;
  background: #ccc;
}
.test{
  color:#fff;
}
.TEST2{
  background: #555555;
  color: #fff;
  marign: 0 auto;
  padding: 0;
  width: 100vw;
  display: block;
}
.hahaha{
  width: 100px;
  margin: 0 auto;
  color: #555555;
  background-color: #fff;
  padding: 0;
}