@import "./color";
/*圆角混合器*/

@mixin round-corners {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
};

/*去项目符号*/
@mixin no-bullets{
  list-style: none;
  li{
    list-style-image:none;
    list-style-type: none;
    margin-left: 0;
  }
};

/*链接-color设置*/
@mixin link-colors($normal,$hover, $visited){
  color: $normal;
  &:hover{
    color: $hover;
  }
  &:visited{
    color: $visited;
  }
}

/*链接-color设置，参数有默认值*/
@mixin link-colors2($normal,$hover:$normal,$visited:$blue){
  color: $normal;
  &:hover{
    color: $hover;
  }
  &:visited{
    color: $visited;
  }
}

/*像mixmi 传递片段*/


@mixin  button{
  font-size: 1em;
  padding: 0.5em 1em;
  text-decoration: none;
  color: $white;
  @content;
}


@mixin box-shadow($shadow...){
  box-shadow: $shadow;
}

/*单行超出用省略号*/


@mixin ell_oneline{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin ell_twoline{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}






