body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 540px;
  font-size: 14px;
  font-family: -apple-system,Helvetica,sans-serif;
  line-height: 1.5;
  color: #666;
  -webkit-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: 100%!important;
  -webkit-touch-callout: none;
}

input[type=text],textarea {
  -webkit-appearance: none;
  appearance: none
}
template {
  display: none;
}

html {
  font-size: 20px;
  font-size: 5.33333vw;
}

@media screen and (max-width: 320px) {
  html {
	font-size: 17.06667px;
  }
}
@media screen and (min-width: 540px) {
  html {
	font-size: 28.8px;
  }
}