.wrapper{
  width: 800px;
  border: 1px solid #ccc;
  background: #ffffff;
  overflow: hidden;
  padding: 10px;
  margin: 10px  auto;
  min-height: 200px;
}

body{
  background: #fafafa;
}

.doc{
  color: red;
  text-align: center;
  &::before, &::after{
	 content:"----------";
  }
  margin: 10px 0;
}

.desc{
  background: #f1f1f1;
  margin: 10px 0;
  padding: 5px;
  line-height: 16px;
  font-size: 14px;
  color: #3399ff;
  font-weight: bolder;
  &:before{
      content:"注：";
      font-size: 25px;
      color: red;

  }
}
