@import "../public/reset";
@import "../public/public";
@import "../public/practice";
@import "../practice/icon";

@include rem_query;


.container{
  max-width:540px;
  min-width:320px;
  width: rem(375);
  overflow: hidden;
  margin: auto;
}



.flex_list{
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  $border-color: #ddd;
  .item{
	width: 50%;
	height: rem(275);
	border:{
	  bottom: 1px solid $border-color;
	}
	&:nth-child(2n+1){
	  border-right: 1px solid $border-color;

	}
	&:nth-child(2n){
	  margin-right: -1px;
	}
  }
}


.footer{
  display:flex;
  height: 60px;
  width:100%;
  justify-content: space-evenly;
  background: #ffffff;
  position: fixed;
  bottom:0;
  left:0;
  border: 1px solid #ddd;
  .item{
	background: #fff;
	width: rem(80);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	&.cur{
	  	color: #98e440;
	}
	i{
	   font-size: rem(30);
	   width: rem(30);
	   height: rem(30);
	   line-height: rem(30);
	}
	.name{
	   display:block;
	   font-size: rem(16);
	   //color: #ddd;
	}
  }
}

