@import "../public/practice";
@import "../public/color";


$bgcolor: #ccc;


%icon{
	display: inline-block;
  	background: $bgcolor;
  	width: 40px;
  	height: 40px;
}


//实心圆
.dot{
  @extend %icon;
  border-radius: 50%;
  background: $bgcolor;

}

//圆环
.loop{
  @extend %icon;
  padding: 20px;
  background-clip: content-box;
  border-width: 20px;
  border-color: $bgcolor;
  border-style: solid;
  border-radius: 60px;
  &.min{
	transform: scale(.5,.5);
  }
  &.minium{
	transform: scale(.2);
  }
}


//三道杠

.menu{
  @extend %icon;
  padding: 10px 0;
  height: 10px;
  width: 50px;
  background-clip: content-box;
  border-width: 10px;
  border-style: solid;
  border-color: $bgcolor;
  border:{
	left: none;
	right: none;
  }
}

//三道杠杠  ，用border 实现

.menu2{
  @extend %icon;
  background: #fff;
  width: 60px;
  height: 10px;
  border:{
	top: 10px solid $bgcolor;
	bottom: 30px double $bgcolor;
  }
}

/** 三角的实现*/

@mixin triangle ($direction: top , $border-width: 20px ){
  border:$border-width solid transparent;
  width:0;
  height:0;
  display: inline-block;
  @if($direction == top){
	border:{
	  	bottom: {
		  color: $bgcolor;
		}
	}
  }@else if($direction == left){
	border: {
	  	right:{
		  color: $bgcolor;
		}
	}
  }@else if($direction == right){
	border:{
	  	left:{
		  	color: $bgcolor;
		}
	}
  }@else if($direction == bottom){
	border:{
	  	top:{
		  	color: $bgcolor;
		}
	}
  }
}




.triangle{
  &-top{
	@include triangle(top);
  }
  &-bottom{
	@include triangle(bottom);
  }
  &-left{
	@include triangle(left);
  }
  &-right{
	@include triangle(right);
  }
}

@mixin r-trangle($width ,$height, $directive){
	width:0;
  	height:0;
  	//border: 10px solid
   border: $width $height solid transparent;
  @if($width==top){
	border:{
	  bottom:{
		color: $grey;
	  }
	  left:{
		color: $grey;
	  }
	}
  }
  //@else if($width==right){
	// border:{
	//   bottom:{
	//	 color:$grey;
	//   }
	//
	// }
	//
	//
  //}


}

.top-r-trangle{
  @include r-trangle(10px, 20px ,top);
}




/*实现一个带直角的标签*/

.label{
  &:before{
	content:"";
	width:0;
	height:0;
	border: 10px solid transparent;
	display: inline-block;
	border:{
	  top:{
		color: $grey;
	  }
	  right:{
		color: $grey;
	  }
	}
  }
  background: $grey;
}