@import "../public/practice";
@import "../public/reset";
@import "../public/color";
@import "../public/mixin";

.boxes{
  overflow: hidden;

  .box1,.box2,.box3,.box4{
  		float: left;
		width: 100px;
		padding-bottom: 99999px;
		margin-bottom: -99999px;

  }
  .box1{
	 background: red;
  }
  .box2{
		background: green;
  }
  .box3{
		background: blue;
  }
  .box4{
		background: orange;
  }

}

.boxes2{
  display: table-row;
  .box{
	display: table-cell;
	width: 30%;
	margin-bottom: -100px;
	background: #eeeeee;
	border: 1px solid #ccc;
	&:nth-child(2n){
	  background: orange;
	}
  }

}

.parent{
  width: 400px;
  height: 200px;
  border: 1px solid #ccc;
  position: relative;
  .son{
	width: 180px;
	height: 100px;
	background: orange;
	&.left{
	  margin-right: auto;
	}
	&.right{
	  margin-left: auto;
	}
	&.center{
	  	margin: auto;
	}
	&.middle{
	  position: absolute;
	  left:0;
	  right:0;
	  top:0;
	  bottom: 0;
	  margin: auto;

	}
  }
}


/*实现内容垂直居中 用line-height 实现*/
.box5{
  line-height: 100px;
  background: orange;
  width: 80%;
  margin: auto;
  .content{
	margin: 0 20px;
	line-height: 16px;
	border: 1px solid #ccc;
	display: inline-block;
	vertical-align: middle;

  }
}


/*verticle-align 与line-height 相关*/

.box6{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: orange;
  //overflow: hidden;
}


.box7{
  line-height: 0;
  font-size: 14px;
  background: orange;
}

.box8{
  line-height: 14px;
  font-size:0;
  background: orange;
}

.box9{
  width: 200px;
  border: 1px solid $grey;
  text-align: center;
  .content{
	display: inline-block;
	text-align: left;
  }
}

.box10{
  overflow: scroll;
  width: 200px;
  height: 100px;

}


/*自定义webkit 浏览器属性*/

//血槽宽度和高度
::-webkit-scrollbar{
  width: 18px;
  height: 18px;
}

//拖动条
::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 0;
}
//背景槽
::-webkit-scrollbar-track{
  background-color: #005c5c;
  border-radius: 6px;
}


.box11{
  width: 180px;
  height: 180px;
  .line1{
	width: 100px;
	background: orange;
	 @include ell_oneline;
  }
  .line2{
	width:100px;
	@include ell_twoline;
	background: olive;
  }
  .line3{
	width: 100px;
	@include  ell_lines(3);
	background: royalblue;
  }

}




.box12{
  line-height: 48px;
  background: orange;
  display: inline-block;
  //font-size: 14px;
  font-size:0;
  .normal{
	font-size:14px;
	 border: 1px solid blue;
  }
  .p1{
	font-size: 12px;
	color:red;
	border: 1px solid #ddd;
  }
  .p2{
	font-size: 18px;
	color: grey;
	border: 1px solid red;
  }
}

.box13{
  margin-top: 20px; 				/*仅仅用来分割距离*/
  line-height: 24px;
  font-family: "simsun";
  outline: 1px solid #ddd;

  .icon{
	  display: inline-block;
	  background: linear-gradient(-90deg, #e93b3d,#ff9574);
	  border-radius: 14px;
	  border-top-right-radius: 0;
	  font-size: 12px;
	  color: #fff;
	  line-height: 14px;
  }
  .price{
		font-size: 12px;
		color:#E93B3D;
		em{
		  	font-size:16px;
		}
  }
}